{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block parent_attrs %}class="p-4 grid grid-rows-4 grid-cols-2 gap-2" style="grid-template-columns: 3fr 1fr;grid-template-rows: auto auto auto 1fr;"{% endblock %}
{% block content %}
<div class="flex flex-col gap-2 justify-between items-stretch col-span-2 text-center md:text-start md:flex-row md:gap-0">
    <h1 class="text-2xl md:text-3xl">{% translate 'Select Contact to change' %}</h1>
    <div class="flex flex-row items-stretch justify-center gap-2">
        <a href="" class="flex items-center rounded px-3 rounded-full border border-neutral-400 hover:bg-neutral-200">{% translate 'Add Single' %}</a>
        <a href="" class="flex items-center rounded px-3 rounded-full bg-primary border border-neutral-400 bg-primary-hover">{% translate 'Import' %}</a>
    </div>
</div>
<div class="p-3 bg-neutral-200 flex flex-row justify-start gap-2 items-stretch">
    <svg xmlns="http://www.w3.org/2000/svg" class="w-7 h-7" viewBox="0 -960 960 960" fill="current"><path d="M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z"/></svg>
    <input id="sidebarSearch" class="border border-neutral-400 bg-neutral-100 p-0.5 px-1 placeholder-gray-400" placeholder="{% translate 'Search for a specific contact..' %}" type="text" />
    <button id="searchButton" class="bg-primary px-3 bg-primary-hover rounded-box border border-neutral-500">Search</button>
</div>
<div class="row-span-3">
    <div class="bg-neutral-200 flex flex-col border border-neutral-500">
        <h1 class="w-full bg-primary text-center text-2xl border-b border-neutral-500">{% translate 'Filters & Info' %}</h1>
        <div class="p-2">
            <h2 class="text-lg font-medium">{% translate 'Tags' %}</h2>
            <div class="border border-neutral-500 p-2 overflow-auto mt-1 max-h-64">
                <input id="tagSearch" class="sticky top-0 border border-neutral-400 bg-neutral-100 w-full p-0.5 px-1 placeholder-gray-400" placeholder="{% translate 'Filter for a specific tag..' %}" type="text" />
                <hr class="mb-1">
                {% if not tags %}
                <div class="flex flex-row items-center justify-center">
                    <span class="text-lg">{% translate 'No tags found!' %}</span>
                </div>
                {% endif %}
                {% for tag in tags %}
                <div class="flex flex-row items-center gap-1">
                    <input type="checkbox" />
                    <span class="bg-neutral-200 rounded-box p-1 border border-neutral-500">{{ tag }}</span> 
                </div>
                {% endfor %}
            </div>
            <h2 class="text-lg font-medium mt-1">{% translate 'Attributes' %}</h2>
            <div class="flex flex-row items-center gap-1">
                <input type="checkbox" />
                <span class="text-lg">{% translate 'Subscribed' %}</span>
            </div>
            <div class="flex flex-row items-center gap-1">
                <input type="checkbox" />
                <span class="text-lg">{% translate 'Hard Bounced' %}</span>
            </div>
            <div class="border border-neutral-500 p-2 overflow-auto mt-1 max-h-64">
                <input id="sourceSearch" class="sticky top-0 border border-neutral-400 bg-neutral-100 w-full p-0.5 px-1 placeholder-gray-400" placeholder="{% translate 'Filter for a specific tag..' %}" type="text" />
                <hr class="mb-1">
                {% if not source %}
                <div class="flex flex-row items-center justify-center">
                    <span class="text-lg">{% translate 'No sources found!' %}</span>
                </div>
                {% endif %}
                {% for source in sources %}
                <div class="flex flex-row items-center gap-1">
                    <input type="checkbox" />
                    <span class="bg-neutral-200 rounded-box p-1 border border-neutral-500">{{ source }}</span> 
                </div>
                {% endfor %}
            </div>
            <button id="applyFilters" class="mt-2 bg-primary px-3 bg-primary-hover rounded-box border border-neutral-500">{% translate '' %}</button>
        </div>
    </div>
</div>
<div class="mt-3 flex flex-row justify-start items-stretch gap-1">
    <span class="text-xl me-2">{% translate 'Actions' %}:</span>
    <select class="border border-neutral-400 bg-neutral-200 hover:bg-neutral-300" name="action" id="action">
        <option value="">{% translate 'Select an action' %}</option>
        <option value="delete">{% translate 'Delete' %}</option>
        <option value="export">{% translate 'Export' %}</option>
        <option value="export">{% translate 'Manage Tags' %}</option>
    </select>
    <button id="applyActions" class="bg-neutral-200 hover:bg-neutral-300 px-2 rounded-box border border-neutral-400">{% translate 'Apply' %}</button>
    <h1 id="selectionCount" class="mx-auto text-md me-1 self-center">0 {% translate 'out of' %} {{ total_contacts }} {% translate 'selected'%}, <a id="select-all" href="" class="text-blue-500">Select All</a></h1>
    <button id="previousPage" class="bg-primary px-3 bg-primary-hover rounded-box border border-neutral-500">{% translate 'Previous' %}</button>
    <input id="pageInput" type="text" class="border border-neutral-500 max-w-7 text-center" value="{{ request.GET.p|default:'1' }}" max="{{ pages_count }}">
    <h1 id="pagesInfo" class="text-lg">{% translate 'of' %} {{pages_count}}</h1>
    <button id="nextPage" class="bg-primary px-3 bg-primary-hover rounded-box border border-neutral-500">{% translate 'Next' %}</button>
</div>
<div class="overflow-auto" style="max-height: 36.75rem!important;">
    <table class="text-left w-full whitespace-nowrap"> 
        <thead class="bg-neutral-700 text-white">
            <tr class="border *:border *:p-2 *:font-medium text-sm">
                <th class="bg-neutral-700 text-center sticky top-0"><input type="checkbox" name="select-all-current" id="select-all-current" /></th>
                <th class="bg-neutral-700 sticky top-0">{% translate 'Email Address' %}</th>
                <th class="bg-neutral-700 sticky top-0">{% translate 'First Name' %}</th>
                <th class="bg-neutral-700 sticky top-0">{% translate 'Last Name' %}</th>
                <th class="bg-neutral-700 sticky top-0">{% translate 'Address' %}</th>
                <th class="bg-neutral-700 sticky top-0">{% translate 'Phone Number' %}</th>
                <th class="bg-neutral-700 sticky top-0">{% translate 'Birthday' %}</th>
                <th class="bg-neutral-700 sticky top-0">{% translate 'Title' %}</th>
                <th class="bg-neutral-700 sticky top-0">{% translate 'Company Name' %}</th>
                <th class="bg-neutral-700 sticky top-0">{% translate 'Tags' %}</th>
                <th class="bg-neutral-700 sticky top-0">{% translate 'Subscribed' %}</th>
                <th class="bg-neutral-700 sticky top-0">{% translate 'Source' %}</th>
            </tr>
        </thead>
        <tbody>
            {% for contact in contacts %}
            <tr class="border *:border *:p-2">
            {% if not contacts %}
                <td colspan="12" class="text-center">{% translate 'No contacts found!' %}</td>
            {% else %}
                <td class="text-center"><input type="checkbox" name="select-one" id="select-one-1" /></td>
                <td class="text-blue-600"><a href="">{{ contact.email }}</a></td>
                <td>{{ contact.first_name }}</td>
                <td>{{ contact.last_name }}</td>
                <td>{{ contact.address }}</td>
                <td>{{ contact.phone_number }}</td>
                <td>{{ contact.birthday }}</td>
                <td>{{ contact.title }}</td>
                <td>{{ contact.company }}</td>
                <td>
                    {% for tag in contact.tags.all %}
                    <span class="bg-neutral-200 rounded-box p-1 border border-neutral-500">{{ tag }}</span>
                    {% endfor %}
                    {% if not contact.tags.all %}
                    {% translate 'Untagged' %}
                    {% endif %}
                </td>
                <td>
                    {% if contact.subscribed %}
                    <span class="bg-green-200 rounded-box p-1 border border-neutral-500">{% translate 'Subscribed' %}</span>
                    {% else %}
                    <span class="bg-red-200 rounded-box p-1 border border-neutral-500">{% translate 'Not subscribed' %}</span>
                    {% endif %}
                </td>
                <td class="font-medium">
                    {% if contact.source.type == 'import' %}
                    <a class="text-blue-600" href="">{% translate 'Import' %} #{{ contact.source.id }}</a>
                    {% else %}
                    {{ contact.source.name}}
                    {% endif %}
                </td>
            {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script src="{% static 'contacts.js' %}"></script>
<script src="{% static 'pagination.js' %}"></script>
{% endblock %}